@model Album

<h2>@Model.Name</h2>
<h3>Songs</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var song in DataBaseSelect.SelectAlbumsSongs(Model.AlbumID))
    {
        <tr>
            <td>@song.Name</td>
            <td><a href="@Url.Action("AddToPlaylist", new { id = song.SongID })">Add to playlist</a></td>
            <td>
                @if(!DataBaseHelpers.IsSongAddedToFavorites(@song.SongID, (int)ViewData["userID"])){
                <a href="@Url.Action("AddToFavorites", new { id = song.SongID, albumID = Model.AlbumID })">Favorite</a>
                }
                </td>
        </tr>
    }
    </tbody>
</table>
